<!DOCTYPE html>
<html>
<head>
  <title> EXERCICI 04</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>  
  <script src="https://unpkg.com/vue-router@4.0.15/dist/vue-router.global.js"></script>

</head>

<body>
   

    <div id="app">

      <Header-post></Header-post>

      <div id="content">

        <h1>NEW POST</h1>
      
            <label> Title: </label>
            <input id="title" v-model="form.title" type="text" name="title" placeholder="Enter your title" />
        
            <label >Brief summary: </label>
            <textarea id="summary" v-model="form.summary" name="summary" maxlength="50" placeholder="50 characters max"></textarea>

            <label >Content: </label>
            <textarea id="content" v-model="form.content" name="conttent" placeholder="Write your history..."></textarea>
         
            <label>Author:</label>
            <select id="author" v-model="form.author" name="author">
              <option value="Fernando Alonso">Fernando Alonso</option>
              <option value="Giannis Antetokounmpo">Giannis Antetokounmpo</option>
              <option value="Shai Gilgeous-Alexander">Shai Gilgeous-Alexander</option>
              <option value="Willirex"> Willirex </option>
              <option value="Anonymous"> Anonymous </option>
             
            </select>

            <!-- <label for="image">Image:</label>
            <input type="file" ref="fileInput" id="image"><br> -->

            
            <button @click="sendForm" class="btn_send">Send</button>
            

            
            <router-view v-bind:posts> </router-view>



            
           
        </div>

      <Footer-post></Footer-post>




    </div>



    <script type="module" src="script.js" ></script>


  </body>
</html>
