body {
  background-color: #FAF2F0;
  font-family: "PlayFair Display";
  font-size: 16px;
}

button {
  background-color: #F5900C;
  color: #1A2954;
  margin-bottom: 10px;
  width: 100%;
}

nav, footer {
  background-color: #1A2954;
  color: #F5900C;
  padding: 20px;
}

.nav button {
  font-family: sans-serif;
}

.nav input {
  font-family: sans-serif;
}

.nav .titol {
  font-size: 66px;
}

#nano {
  height: 280px;
}
